@import url("https://use.typekit.net/zxl8gur.css");

html {
  scroll-behavior: smooth;
}

body {
  background: pink;
  font-family: acumin-pro, sans-serif;
font-weight: 400;
font-style: normal;
}

  h1 {
    font-family: acumin-pro, sans-serif;
  font-weight: 1000;
  font-style: normal;
  text-align: center;
  }

h2 {
  font-family: acumin-pro, sans-serif;
font-weight: 600;
font-style: normal;
}

section {
  border-bottom: 2px solid red;
  min-height: 65vh;
}

#articles {
  display: flex;
  flex-wrap: wrap;
}

#articles>* {
flex: 0 0 33.3333%;
}

section:target {
  background: blue;
}

#main-menu {
  background: rgba;
  height:100%;
  width:320px;
  position:absolute;
  top:0;
  left:-320px;
  transition: 1s all ease;
}

#main-menu:target{
  left:0;
}

.svg-icon {
  width: 1em;
  height: 1em;
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
  fill: #4691f6;
}

.svg-icon circle {
  stroke: #4691f6;
  stroke-width: 1;
}

ul {
list-style:none;
}

.alphabet {
  text-align: center;
  font-size: 30px;
  font-family: acumin-pro, sans-serif;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;

}
.lettre{
  padding: 20px;
  margin: 10px;
  border: solid;
}

@keyframes rotation01 {
		from {
				transform: rotate(0deg);
		}
		to {
				transform: rotate(359deg);
		}
}

@keyframes rotation02 {
		from {
				transform: rotate(360deg);
		}
		to {
				transform: rotate(0deg);
		}
}

.rotating-wheels-01 {
  background: green;
  max-width: 600px;
  position: relative;
}

.rotating-wheels-01 img {
  position: absolute;
  top : 0;
}

.circle01 {
    animation: rotation01 2s infinite linear;
}

.circle02 {
    animation: rotation02 3s infinite linear;
}

.circle03 {
    animation: rotation01 6s infinite linear;
}

.circle04 {
    animation: rotation02 2s infinite linear;
}
